{% extends 'rango/base.html' %}

{% block title %}VB's Resume{% endblock %}

{% block body_block %}
    <div class="hero-unit">
    <h1>Job experience</h1>
         <strong>Resume </strong>.<br />
		<div id="header">
			<p id="name">Vaibhav Chauhan</p>
			<a href="mailto:vchauhan@gmail.com"><p id="email">vchauhan.bmt@gmail.com</p></a>
		</div>
		<div class="left"></div>
		<div class="right">
			<h4>Objective</h4>
			<p>To be an integral part of team that works dynamically in the field of endeavor technologies with high level of commitment.
                <br>Looking forward for a challenging career in an Organization where my creative ideas are profitably utilized providing professional growth.</p>
			<h4>Experience</h4>
			<p>WALT DISNEY WORLD, Developer <br>Orlando, FL 				October 2014 to Present</p>

			<ul>
                <li>Responsible for training ETL developers to utilize existing python framework.</li>
                <li>Developed RESTful web-services, for upstream and downstream web-applications using Django restframe work.</li>
                <li>Developed Job dashboard monitor UI using Django/Flask.</li>
                <li>Developed Table Management System replacement, Dinetime written in Django Flask and deployed to production </li>
                <li>Supported Table Management System webapps written in Django/Flask. </li>
                <li>Involved in working with large teams to support existing ETL framework written in python.</li>
                <p><b>Environment:</b> python 2.7, java, python (internal python library), GIT.</p>
			</ul>
            <p>Motorola Mobility, Programmer Analyst <br>Sunnyvale, CA 				 April 2014 to October 2014</p>
            <ul>
                <li>Worked on writing tools for implementation of python, a python based android UI automation framework. </li>
                <li>Used OOP concepts to develop newer libraries for automation</li>
                <li>Used python in-built like, urllib, urllib2, os, hmac, multithreading and many advanced libraries to build automation libraries.</li>
                <li>Single handedly developed entire web based wireless testing system written in PHP/Python for Motorola devices <br> for new system Motorola devices are being tested anywhere in the world.</li>
                <li>Used industry standard technologies like AJAX, GIT, and APACHE2 along with python-flask and PHP for creating web based wireless testing system.</li>
                <li>Used PY4J to dynamically access Java objects in android’s Java Virtual Machine, wrote java code to call python object using PY4J module.</li>
                <b>Accomplishment:</b><br>Contribution towards Web based wireless testing system was appreciated by the top management.<br>Involved in migrating java test framework to python flask.
                <p><b>Environment:</b> python 2.7, java, apython (internal python library), Android SDK, Eclipse,
		MacOsx, android ADB, gerrit, Jenkins, Jira, SCRUM</p>
              </ul>
            <p>Insieme Networks(Cisco), Application Developer<br>San Jose, CA, July 2013-March 2014</p>
            <ul>
                <li>Worked on Internal testing tools written in python. This toolkit allowed test case writers to develop their test, view results on a web browser.</li>
                <li>Performed data manipulation/storage for incoming test data using lxml/etree libraries; Developed API modularizing existing python module with the help of pyyaml libraries</li>
                <li>Wrote unittest cases for testing tools.</li>
                <li>Developed GUI using webapp2 for dynamically displaying the test block documentation and other features of python code using a web browser</li>
                <li>Performed optimization of test server by implementing multiprocessing for the caching system.</li>
                <li>Improved user experience.</li>
                <li>Improved performance by using more modularized approach and using more in built methods.</li>
                <li>Improved caching system for the test web server.</li>
                <p><b>Environment:</b>Python 2.7, Django 1.4, webapp2, MySQL 5, LAMP, XML, RESTful Web Services, centos, Git 5.x, pylint.</p>
            </ul>
            <p>Google Inc.Programmer Analyst<br>Mountain View, CA, February 2013 to June 2013</p>
            <ul>
                <li>Worked on development of a Tour Sharing websites for Google Inc. This website allowed users to share their travel experiences, with family, friends or even people around the world</li>
                <li>Developed/modified admin console for admin for Google tour sharing website. Tour builder with Google,</li>
                <li>Developed API calls to the Picasa web albums API for embedding user photos/videos to user profile.</li>
                <li>Performed form validation using Django model/form.</li>
                <li>Made website admin interface more user friendly.</li>
                <li>Made app more scalable.</li>
                <li>Deployed app on apache2 web server.</li>
              <p><b>Environment:</b>Python 2.7, Django 1.4/webapp2, Google Data Store, LAMP, Git, XML, JavaScript, CSS, JQuery, HTML, AJAX, Rest Web Services, LINUX, pylint</p>
            </ul>
            <p>LAMAR UNIVERSITY,Programmer Analyst <br> Beaumont, TX , August 2011 to December 2012</p>
            <ul>
                <li>Developing an algorithm to remove business confidential information from unstructured safety records.</li>
                <li>Developing Python code to access information from a MySQL database, identify proper nouns and rewrite the information to the database.</li>
                <li>Explored alternative Part of Speech tagging algorithms in NLTK.</li>
                <li>Compared manually cleaned records to records clean by the algorithm.</li>
                <li>The automated algorithm was able to identify proper nouns not removed by the manual cleaning.</li>
                <li>Worked with Unix Like OS on regular basis.</li>
                <p><b>Environment:</b> Python 2.7, pylint, Linux, NLTK,GIT,Mysql.</p>
            </ul>
            <h4>SKILL SET</h4>
                <p>LANGUAGES:  PYTHON 2.7/2.4, C++, DJANGO 1.4, PHP, JAVASCRIPT JQUERY, CSS, HTML, XML, and JSON</p>
                <p>WEB SERVER: APACHE SERVER, Apache2, and Google App Engine</p>
                <p>ANALYTICAL PACKAGES: NLTK, NLP.</p>
                <p>DATABASE: MySQL, PostGRE, MySQL, Teradata, Informatica.</p>
                <p>CONNECTIVITY: ODBC, teradata.net</p>
                <p>WEB-FRAMEWORKS: DJANGO 1.4-1.5</p>
                <p>OTHERS: Apache, FTP, and Office series</p>
                <p>OS: Mac OS X, GNU/Linux</p>
			<h4>Education</h4>
			<p>MS Engineering Science,<br> Beaumont, TX ,2012</p>
            <p>BS Engineering<br> India, 2010</p>
            <p>Additional Info:<br> On H1-B Visa, valid until October 2016.</p>
		</div>
		<div id="footer">
			<p>Orlando,FL | Tel: (845) 667-7146</p>
		</div>
    </div>
{% endblock %}